@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar {
    width: 0px; 
  }

body{
    scrollbar-width: 0px;

}
  
@media screen and (orientation: landscape) and (max-width: 950px) {
   .logo{
        width: 48px;
    }
    .header{
        font-size: 25px;
    }
    .divslider{
        padding: 0;
    }
    .divslider h1{
        padding: 0;
        font-size: 25px;
    }
    .exeat img{
        width : 31px
    }
    .bar{
        margin-bottom: 10px;
    }
    .bar img {
        width: 30px;
    }
    .search img {
        width:25px;
    }
    .newasa{
        padding-top: 1.5rem/* 40px */;
        padding-bottom: 1.5rem/* 40px */;
    }
    .dashboardlanres{
        display: flex;
        flex-direction: column;
    }
    .resfirstdiv{
        height:80%;
    }
    .resbluepic{
        width:152px;
        height: 140px;
    }
    .resinput{
        height:10px
    }
    .resfont{
        font-size: 15px;
    }
    .smallresfont{
        font-size: 8px;
    }
    .smallerresfont{
        font-size: 5px;
    }
    
    .landresdiv{
        width :50%;
    }
    .smallresdiv{
        width: 35px;
        height : 30px
    }
    .resh1{
        margin-bottom: 4px;
        padding : 2px;
    }
    
  }

  

